# ----------------
# PLEASE READ
# ----------------
# This file is an example of the .env file that is needed in order for certain
# features of this plugin to function properly. Use this file as a template
# to create your own .env file. The plugin will not read the .env.sample file.

# Configuration for Role Sids that correspond to customer roles. Can be a
# string, an array, or an object. Replace `RL_external_user_role_sid` with 
# your role SID and add more objects if necessary.
FLEX_APP_CUSTOMER_ROLE_SIDS=["RL_external_user_role_sid"]

# Configure the thresholds, in seconds, for entering stale and urgency mode.
FLEX_APP_STALE_THRESHOLD_SECONDS=300
FLEX_APP_URGENCY_THRESHOLD_SECONDS=180